/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 0px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

.earningarea{
	background: #ececec;
	height: 70px;
	width: 100%;
	padding: 0px 20px;
	float: left;
	z-index: 99;
	position: fixed;
	overflow: auto;
	overflow-y: hidden;
	border-bottom: 1px solid #d7d6d6;
}

.topfixed{
	position: fixed !important;
}

.logoutarea{
	width: 100%;
	background: #ececec;
	height: 85px;
	z-index: 9999;
	border-bottom: 1px solid #d7d6d6;
	float: right;
	padding-top: 25px;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f3f6fb;
    border-right: 1px solid #d6d9dc;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #459bce;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


.logo{
	margin-bottom: 40px;
}

.earningsliderarea{
	overflow-x: hidden;
	white-space: nowrap;
	overflow-x: auto;
}

.revenue_box{
	margin-bottom: 30px;
	display: inline-block;
	margin-right: 60px;
}

	.revenue_box .negative{
		color: #ed151f;
	}

	.revenue_box .positive{
		color: #86aa20;
	}

	.revenue_box .name{
		width: 100%;
		font-weight: bold;
		font-size: 12px;
		margin-bottom: 0px;
	}

	.revenue_box .revenue{
		font-size: 12px;
	}


.sub-nav-bar{
	margin-top: 10px;
	margin-bottom: 10px;
}

.box_out{
	background: #ececec;
	padding: 30px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

	.box_out:hover{
		background: #2e2e2e;
		color: #fff;
	}


.number-box{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-top: 15px;
}

.number-types{
	font-size: 16px;
	margin-top: 25px;
}

	.number-types tr td{
		border-bottom: 1px solid #ececec;
		padding-bottom: 10px;
		padding-top: 10px;
	}

.positive-number{
	color: green;
}
.negative-number{
	color: red;
}

.dash a{
	color: #2e2e2e;
	text-decoration: none;
}

.dash a .dashboardbox:hover{
	background: #2e2e2e;
	color: #fff;
}

.dashboardbox{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.createNewAccessWrapper{
	display: none;
}

.test_device_list{
	margin-top: 30px;
}

.negativeResult{
	color: #cc0412;
}

.positiveResult{
	color: #a9ce24;
}

.working-btn{
	border-radius: 30px;
	width: 50px;
	color: #fff;
	text-align: center;
	padding-top: 15px;
	font-weight: bold;
	cursor: pointer;
	margin: 0px auto 20px auto;
	height: 50px;
}

.working-btn.start{
	background: green;
}

.working-btn.stop{
	background: red;
}

.page-header{
	padding-top: 80px;
}

.pagi{
	width: 300px;
	margin: auto;
}

.pagi a{
	background: #ececec;
	border-radius: 5px;
	color: #2e2e2e;
	padding: 5px;
}


@media (max-width: 480px) {
	.navbartop{
		display: block !important;
	}

	.earningarea{
		display: none !important;
	}

	.main{
		padding: 0px 20px !important;
	}

}

.hidden_checkboks input[type=checkbox]{
	-webkit-appearance: none;
	background: #fff;
	width: 15px;
	height: 15px;
}

.hidden_checkboks input[type=checkbox]:checked{
	background: #999999;
	border-radius: 5px;
}

/*added on 01-11-2017*/

tr.ui-sortable-handle td:first-child{
    cursor: move;
}



#accordian {
		color: #000;
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

#accordian h3 {
		background: #f3f6fb;
    margin-top: 5px;
    margin-bottom: 5px;
}

#accordian h3 a {
		padding: 0 10px;
		font-size: 14px;
		line-height: 34px;
		display: block;
		color: #000;
		text-decoration: none;
}

#accordian h3:hover {
		text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}

i {
		margin-right: 10px;
}
#accordian ul{
  padding-left: 0px;
}
#accordian li {
		list-style-type: none;
}

#accordian ul ul li a,
#accordian h4 {
		color: #000;
		text-decoration: none;
		font-size: 13px;
		line-height: 27px;
		display: block;
		padding: 0 15px;
		transition: all 0.15s;
		position: relative;
}

#accordian ul ul li a:hover {
		background: #459bce;
		border-left: 5px solid lightgreen;
    color: #FFF;
}

#accordian ul li h3 a:hover {
		background: #ECECEC;
    color: #000;
}

#accordian ul li.active  h3 a {
		background: #459bce;
    color: #FFF;
}

#accordian ul ul li.active{
  background: #FFF;
}

#accordian ul ul {
		display: none;
}

#accordian li.active>ul {
		display: block;
}

#accordian ul ul ul {
		margin-left: 15px;
		border-left: 1px dotted rgba(0, 0, 0, 0.5);
}

#accordian a:not(:only-child):after {
		content: "\f104";
		font-family: fontawesome;
		position: absolute;
		right: 10px;
		top: 0;
		font-size: 14px;
}

#accordian li.has_children > h3 > a:after {
		content: "\f104";
		font-family: fontawesome;
		position: absolute;
		right: 10px;
		font-size: 14px;
    font-weight: bold;
}

#accordian .active>a:not(:only-child):after {
		content: "\f107";
}
